name: YouTube 24/7 Stream

on:
  workflow_dispatch: # لتشغيل البث يدوياً بضغطة زر من هاتفك

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt update
          sudo apt install -y ffmpeg
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Start Streaming to YouTube
        run: |
          # 1. ضع رابط الفيديو الذي تريد بثه هنا (سواء من يوتيوب أو رابط مباشر)
          VIDEO_SOURCE="https://live.kwikmotion.com/sharjahtvquranlive/shqurantv.smil/playlist.m3u8"
          
          # 2. مفتاح البث الخاص بك (تم إعداده ليوتيوب)
          STREAM_KEY="2ka8-cxyu-pqym-xejh-fb18"
          YOUTUBE_RTMP="rtmp://a.rtmp.youtube.com/live2/$STREAM_KEY"

          # أمر البث مع خاصية التكرار (Loop) لضمان عدم توقفه
          yt-dlp -g -f "best[ext=mp4]" "$VIDEO_SOURCE" | xargs -I {} ffmpeg -re -stream_loop -1 -i "{}" \
          -c:v libx264 -preset veryfast -b:v 3000k -maxrate 3000k -bufsize 6000k \
          -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -ar 44100 \
          -f flv "$YOUTUBE_RTMP"
